

.btn {
    font-size:16px;
}

.tree_label {
	font-size:10px;
}

.tree_field {
	font-size:10px;
}

td {
	align:"right";
}

.tooltip {
    font-size: 10px;
}

/*.form-control option{
    height:500px;
}*/