<html>

<head>
    <meta charset="utf-8">
    <title>
        iQuiz
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" , href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/main.css">

    {% block head %}
    {% endblock %}

</head>


<div style="margin-top: 40px; margin-bottom: 40px; margin-left: 50px; margin-right: 50px">

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark"
            style="background-color: #311D04; font-size:18px; font-color:white">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="margin-right: 30px; margin-left: 30px">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>



                    <li class="nav-item dropdown active" style="margin-right: 30px; margin-left: 30px">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accountDropdown">
                            <a class="dropdown-item" href="/change_password/">Change Password</a>
                            <a class="dropdown-item" href="/new_account/">New Account</a>
                            <a class="dropdown-item" href="/logout/">Log Out</a>
                        </div>
                    </li>
                    <li class="nav-item active" style="margin-right: 30px; margin-left: 30px">
                        <a class="nav-link" href="/mcq/">MCQ<span class="sr-only">(current)</span></a>
                    </li>
                </ul>


                <img src="{{ url_for('static', filename='static/images/IBM_Cloud_logo.png') }}"
                    style="max-width:5%; max-height:5%" ;>

            </div>
        </nav>

    </header>



    <body>

        <!-- <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script> -->

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        {% block body %}
        {% endblock %}

    </body>

</div>

<!-- <body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>

</body> -->

</html>