{% extends "base.html" %}

{% block body %}

<div style="margin-top: 40px;">

  <center>
    <h3>Welcome to iQuiz, <span style="color:#ff0066">{{ session['username'] }}</span>!</h3>
  </center>
  <br>
  <br>
</div>
{% endblock %}
