{% extends "base.html" %}

{% block body %}

<div style = "margin-top:20px">

	{% if session['logged_in'] %}
		<p>You're logged in already!</p>
	{% else %}
		<p>{{ message|safe }}</p>
		<form action="/login/" method="POST">
		  <input type="username" name="username" placeholder="Username">
		  <input type="password" name="password" placeholder="Password">
		  <input type="submit" value="Log in">
		</form>
	{% endif %}

</div>
	
{% endblock %}