{% extends "base.html" %}

{% block body %}
<div style="margin-top: 40px;border: 1px solid black;">

  <center>
    <h3>Welcome to iQuiz</h3>
    
  </center>
  <br>
  <br>
  <div class="main">
    <h1>Question {{all_ans[i]["subId"]}} of {{len}}</h1>
      <div class="test">
        <form method="POST" action="/next_ques/">
        <table>
          <tr>
            <td colspan="2">
              <h3>Que {{all_ans[i]["subId"]}}: {{all_ans[i]["question"]}}</h3>
            </td>
          </tr>
    
          <tr>
            <td>
             <input type="radio" name="ans" value="{{all_ans[i]["option1"]}}" />{{all_ans[i]["option1"]}}
            </td>
          </tr>
          <tr>
            <td>
             <input type="radio" name="ans" value="{{all_ans[i]["option2"]}}" />{{all_ans[i]["option2"]}}
            </td>
          </tr>

          <tr>
            <td>
             <input type="radio" name="ans" value="{{all_ans[i]["option3"]}}" />{{all_ans[i]["option3"]}}
            </td>
          </tr>

          <tr>
            <td>
            {% if i < len %}
              <input type="submit" name="submit"  value="Next Question"/>
            {% else %}
              <input type="submit" name="submit"  value="Show Result"/>
            {% endif %}
            
            <input type="hidden" name="curr_value" value="{{i}}" />
          </td>
          </tr>
          
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
