{% extends "base.html" %}

{% block body %}

<div style = "margin-top:20px; margin-bottom:20px">
  <center><h3 style="color:red">{{error|safe}}</h3></center>
</div>


<div style = "margin-top:20px; width: 40%; margin: 0 auto;">
  <form method="POST" action="/new_account_submit/">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" oninput="checkEmail(this)" required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Passsword</label>
      <input type="password" class="form-control" id="password" name="password" pattern=".{6,}" title = "6 characters minimum" required>
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" oninput="check(this)" required>
    </div>

  <script language='javascript' type='text/javascript'>
    function checkEmail(input){
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(input.value))
        {
            input.setCustomValidity('');
        }else{
            input.setCustomValidity('Please enter valid email address');            
        }
    }
      function check(input) {
          if (input.value != document.getElementById('password').value) {
              input.setCustomValidity('Passwords must be matching.');
          } else {
              // input is valid -- reset the error message
              input.setCustomValidity('');
          }
      }
  </script>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
    
{% endblock %}