{% extends "base.html" %}

{% block body %}

<div style="margin-top: 40px;">

  <center>
    <h3>Final Score {{count}}</h3>
  </center>
  <br>
  <br>

  <div class="main">
    {%for i in range(1, len+1)%}
    <table>
      <tr>
        <td colspan="2">
          <h3>Que {{all_ans[i]["subId"]}}: {{all_ans[i]["question"]}}</h3>
        </td>
      </tr>

      <tr>
        <td>
         <input type="radio" name="ans" value="{{all_ans[i]["option1"]}}" disabled/>{{all_ans[i]["option1"]}}
        </td>
      </tr>
      <tr>
        <td>
         <input type="radio" name="ans" value="{{all_ans[i]["option2"]}}" disabled/>{{all_ans[i]["option2"]}}
        </td>
      </tr>

      <tr>
        <td>
         <input type="radio" name="ans" value="{{all_ans[i]["option3"]}}" disabled/>{{all_ans[i]["option3"]}}
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
      <tr>
        <td>
        <p>Your Answer : {{user_ans[i-1]}}</p>
        <p>Correct Answer : {{all_ans[i]["answer"]}}</p>
      </td>
      </tr>
      
    </table>
    {%endfor%} 
  </div>
</div>
{% endblock %}
