{% extends "base.html" %}

{% block body %}

<div style = "margin-top:20px; margin-bottom:20px">
  <center><h3 style="color:red">{{error|safe}}</h3></center>
</div>


<div style = "margin-top:20px; width: 40%; margin: 0 auto;">
  <form method="POST" action="/verify_id/">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" value="{{email}}" name="email" readonly="true">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" value="{{username}}" name="username" readonly="true">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" value="{{password}}" name="password" readonly="true">
    </div>
    <div class="form-group">
        <label for="totp">OTP recieved in {{email}}</label>
        <input class="form-control" id="totp" name="totp" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
    
{% endblock %}